@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
@import url('style-header.css');
@import url('style-inicio.css');
@import url('style-sobre.css');
@import url('style-projetos.css');
@import url('style-contato.css');
@import url('style-media-screen.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #121214;        
}

body::-webkit-scrollbar-thumb {
    background-color: #00EC00;
    border-radius: 50px;
}

a {
    color: #FFF;
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid transparent;
}

.btn img {
    width: 22px;
}

.btn-green {
    background: linear-gradient(#121214, #121214) padding-box, linear-gradient(-35deg, #5eff5e, #36d136, #00EC00) border-box;
}

.btn-green:hover {
    background: linear-gradient(#232323, #232323) padding-box, linear-gradient(-35deg, #5eff5e, #36d136, #00EC00) border-box;
}

.btn-blue {
    background: linear-gradient(#121214, #121214) padding-box, linear-gradient(-35deg, #0A66C2, #5eff5e) border-box;
}

.btn-blue:hover {
    background: linear-gradient(rgb(35, 35, 35), rgb(35, 35, 35)) padding-box, linear-gradient(-35deg, #0A66C2, #5eff5e) border-box;
}

.shape {
    position: absolute;
    width: 22%;
    height: 75%;
    z-index: 0;
}

.shape-left {
    left: 0;
    border-radius: 0 12vw;
    background-image: linear-gradient(120deg, #00EC00, #0A66C2);
}

.shape-right {
    height: 50%;
    right: 0;
    border-radius: 12vw 0;
    background-image: linear-gradient(-120deg, #00EC00, #0A66C2);
    margin-top: 25%;
}

