/* Estilização da responsividade do site https://julio-souza.vercel.app/ */

@media (max-width: 1024px) {
    div.shape-right {
        margin-top: 35%;
    }

    /* Inicio */
    .inicio {
        padding: 5% 6% 8% 8%;
    }
    
    /* Sobre */
    .sobre-mim {
        padding-top: 10%;
    }
    .cards {
        padding-top: 3%;
        gap: 35px;
    }
    .card {
        width: 75%;
    }

    /* Projetos */
    .meus-projetos {
        padding-top: 8%;
    }
}

@media (max-width: 768px) {
    div.shape {
        width: 30%;
    }
    div.shape-right {
        margin-top: 45%;
    }

    /* Header */
    .nav-list {
        position: absolute;
        top: 10vh;
        border-radius: 0 0 0 15px;
        padding: 2rem 0 3rem;
        right: 0;
        width: 45vw;
        height: fit-content;
        background: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
        z-index: 1;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        font-size: 3vw;
    }
    .mobile-menu {
        display: block;
    }

    /* Section inicio */
    .inicio {
        padding: 0;
    }
    .inicio-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
    .inicio-left h1 {
        font-size: 3vw;
    }
    .typing {
        margin-left: 10px;
        font-size: 8vw;
    }
    .cursor {
        height: 7vw;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15%;
    }
    .inicio-right {
        display: none;
    }

    /* Projeto */
    .meus-projetos {
        padding-top: 10%;
    }
    .titulo {
        margin-bottom: 20px;
    }
    .projetos {
        grid-template-columns: 100%;
    }

    /* Contato */
    .contato {
        grid-template-columns: 100%;
    }
    .contato img {
        display: none;
    }
}

@media (max-width: 645px) {
    div.shape {
        width: 35%;
    }
    div.shape-right {
        margin-top: 55%;
    }

    /* Inicio */
    .inicio {
        padding: 5% 6% 8% 8%;
    }
    .inicio-left {
        gap: 10px;
        width: 80%;
    }
    .inicio-left h1 {
        font-size: 4vw;
    }
    .typing {
        font-size: 10vw;
    }
    .cursor {
        height: 8vw;
    }
    
    /* Sobre */
    .sobre-mim {
        padding-top: 12%;
    }
    .cards {
        padding-top: 3%;
        gap: 35px;
    }
    .card {
        width: 80%;
    }

    /* Projetos */
    .meus-projetos {
        padding-top: 12%;
    }
}

@media (max-width: 563px) {
    div.shape {
        width: 40%;
    }
    div.shape-right {
        margin-top: 65%;
    }

    /* Header */
    .nav-list li {
        font-size: 4vw;
    }

    /* Inicio */
    .inicio-left {
        gap: 15px;
        width: 90%;
    }

    /* Sobre */
    .sobre-mim {
        padding-top: 13%;
    }
    .sobre-mim p {
        text-indent: 0;
        text-align: center;
    }
    .cards {
        padding-top: 3%;
        gap: 35px;
    }
    .card {
        width: 85%;
    }

    /* Projetos */
    .meus-projetos {
        padding-top: 14%;
    }
    .titulo {
        margin-bottom: 25px;
    }
    .projeto h2 {
        margin: 0 auto;
    }
    .projeto p {
        text-indent: 0;
        text-align: center;
    }
    .text-tecnologias {
        margin: 2px auto;
    }
    .projeto a {
        margin: 0 auto;
    }
}

@media (max-width: 505px) {
    div.shape {
        width: 50%;
    }
    div.shape-right {
        margin-top: 75%;
    }

    /* Header */
    .nav-list li {
        font-size: 4.5vw;
    }

    /* Inicio */
    .inicio-left {
        width: 95%;
    }
    .inicio-left h1 {
        font-size: 4vw;
    }
    .typing {
        font-size: 10vw;
    }
    .cursor {
        height: 9vw;
    }

    /* Sobre */
    .sobre-mim {
        padding-top: 16%;
    }
    .cards {
        padding-top: 3%;
        gap: 35px;
    }
    .card {
        width: 90%;
    }

    /* Projetos */
    .meus-projetos {
        padding-top: 14%;
    }
    .titulo {
        margin-bottom: 20px;
    }

    /* Contato */
    .form-email h2 {
        text-align: center;
        font-size: 5vw;
    }
    .form-email h3 {
        text-align: center;
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    div.shape {
        width: 50%;
    }
    div.shape-right {
        margin-top: 85%;
    }

    /* Header */
    .nav-list li {
        font-size: 4.5vw;
    }

    /* Inicio */
    .inicio-left {
        width: 95%;
    }
    .inicio-left h1 {
        font-size: 4vw;
    }
    .typing {
        font-size: 10vw;
    }
    .cursor {
        height: 9vw;
    }

    /* Sobre */
    .sobre-mim {
        padding-top: 18%;
    }
    .cards {
        padding-top: 3%;
        gap: 35px;
    }
    .card {
        width: 95%;
    }

    /* Projetos */
    .meus-projetos {
        padding-top: 18%;
    }

    /* Contato */
    .span-form {
        font-size: 4vw;
    }
}
