@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');
@import url('style-header.css');
@import url('style-inicio.css');
@import url('style-sobre.css');
@import url('style-projeto.css');
@import url('style-contato.css');

:root {
    --white-color: #FFF;
    --black-color: #121214;
    --green-color: #00EC00;
    --green-cc-color: #00EC00CC;
    --green-midium-color: #36d136;
    --green-lite-color: #5eff5e;
    --blue-color: #0A66C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

body {
    overflow-x: hidden;
}

a {
    color: var(--white-color);
    text-decoration: none;
    transition: 0.5s;
}

.inicio, .sobre-mim, .meus-projetos, .entre-em-contato {
    padding: 5% 10% 7%;
}

.btn img {
    width: 22px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid transparent;
}

.btn-green {
    background: linear-gradient(var(--black-color), var(--black-color)) padding-box, linear-gradient(-35deg, var(--green-lite-color), var(--green-midium-color), var(--green-color)) border-box;
}

.btn-green:hover {
    background: linear-gradient(rgb(35, 35, 35), rgb(35, 35, 35)) padding-box, linear-gradient(-35deg, var(--green-lite-color), var(--green-midium-color), var(--green-color)) border-box;
}

.btn-blue {
    background: linear-gradient(var(--black-color), var(--black-color)) padding-box, linear-gradient(-35deg, var(--blue-color), var(--green-lite-color)) border-box;
}

.btn-blue:hover {
    background: linear-gradient(rgb(35, 35, 35), rgb(35, 35, 35)) padding-box, linear-gradient(-35deg, var(--blue-color), var(--green-lite-color)) border-box;
}

@media (max-width: 600px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        border-radius: 0 0 0 15px;
        padding: 2rem 0 3rem;
        right: 0;
        width: 45vw;
        height: fit-content;
        background: var(--header-bg-color);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
